body{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 12px;
    line-height: 1.4;
}

.mainF{
    border: 1px solid #000;
    border-radius: 12px;
    width: 400px;
    height: 430px;
    margin: 30px auto;
    display: flex;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    background-color: whitesmoke;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
}

.calk__title{
    text-align: center;
}

.form-row{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: .7em;
}

.select{
    /* flex: 1; */
    margin-left: 10px;
  }
  
.owners{
    display: none;
}

.carprice{
   border: 1px solid rgb(68, 68, 68);
   /* background-color: rgb(241, 134, 46); */
   border-radius: 12px;
   width: 120px;
   height: 30px;
justify-content: center;
}
/* .mainF{
    border: 1px dashed #850000;
    width: 400px;
    height: 500px;
    margin: auto;
}

.calk__head{
    background-color: aquamarine;
    color: white;
}
.calc__title{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    font-size: 14px;
} */